<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sign-In</title>
</head>

<body>
    <div class="container">
        <!--Welcome note and requesting the user to register. If already having an account providing login URL -->
        <h1>Welcome!</h1>
        <h4>Please sign in below to continue</h4>
        <h6>Already have an account? <a href="/login">Login here</a></h6>

        <!--The form to register student-->
        <form method="post" action="/signup">
             <!--Record name of student-->
             <div class="details">
                <label for="fullname">Full name:</label>
                <input type="text" name="fullname" required>
             </div>

             <!--Record registration number of the student-->
             <div class="details">
                <label for="regnumber">Registration number:</label>
                <input type="number" name="registration_number" min="1000" max="9999" required>
             </div>


             <!--Record Email of the student-->
             <div class="details">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
             </div>

             <!--Record password-->
             <div class="details">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <input type="checkbox" onclick="showPassword()">
                <label for="checkbox">Show password</label>

             </div>

             <!--Recording the degree program of the student-->
             <div class="details">
                <label for="degree">Degree program you're following:</label>
                <select name="degree" id="degree" required>
                    <option value="Bsc computer science and engineering" selected>Bsc computer science and engineering</option>
                    <option value="Bsc mechanical engineering">Bsc mechanical engineering</option>
                    <option value="Bsc electrical engineering">Bsc electrical engineering</option>
                    <option value="Bsc civil engineering">Bsc civil engineering</option>
                </select>
             </div>

             <!--Contact number of the student-->
             <div class="details">
                <label for="contact">Contact number:</label>
                <input type="tel" name="contact" pattern="07\d{8}" required>
             </div>
        
             <!--Introduction of the student-->
             <div class="details">
                <label for="introduction">Introduction about yourself:</label>
                <textarea name="introduction" rows="4" cols="97" required></textarea>   
             </div>

             <!--Recording the GPA of the student-->
             <div class="details">
                <label for="gpa">Current GPA:</label>
                <input type="number" name="gpa" step="any" min ="0" max ="4" required>   
             </div>

             <!--Student skills-->
             <div class="details">
                <label for="skills">Describe your skills:</label>
                <textarea name="skills" rows="4" cols="97" required></textarea>
             </div>

             <!--Submitting the form-->
             <div class="submit">
                <input type="submit" value="Sign-in">
             </div>
        </form>
    </div>
    <script>
        /*showing password when user clicks show password checkbox*/
        function showPassword(){
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
          }
        }
    </script>
</body>
</html>