<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>profile-view</title>
</head>
<body>
    <div class="Vcontainer">
        <h1>{{ fullname }}</h1>
        
        <h4>Email:</h4>
        <h5>{{ email }}</h5>

        <h4>Registration number:</h4>
        <h5>{{ registration_number }}</h5>

        <h4>Degree program following:</h4>
        <h5>{{ degree }}</h5>

        <h4>Contact number:</h4>
        <h5>{{ contact }}</h5>

        <h4>Introduction:</h4>
        <h5>{{ introduction }}</h5>

        <h4>Current GPA:</h4>
        <h5>{{ GPA }}</h5>

        <h4>Skills:</h4>
        <h5>{{ skills }}</h5>
    </div>
</body>
</html>